* {
  box-sizing: border-box;

  /* Debug */
  /* border: 1px solid red; */
}

body {
  background-color: #151515;
  color: white;

  padding: 0;
  margin: 0;

  /* scroll-snap-stop: always; */
}

h1, h2, h3, h4, h5, h6, p, span, a {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(4.5rem, 8vw, 40rem);
  line-height: clamp(5rem, 7.9vw, 40rem);
  margin: 2rem;

  font-weight: 700;
}

h2 {
  font-size: clamp(4.5rem, 8vw, 40rem);
  line-height: clamp(5rem, 7.9vw, 40rem);

  font-weight: 700;
}

h3 {
  font-size: clamp(2rem, 3vw, 30rem);
  line-height: 1;
  font-weight: 700;
  margin: 0.85rem;
}

h4, h5, h6 {
  font-size: clamp(1.5rem, 2vw, 28rem);
  line-height: 1;
  font-weight: 500;
}

p, span, a {
  font-size: clamp(0.8rem, 1.3vw, 20rem);
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

hr {
  opacity: 1;

  border: none;

  height: 0.1rem;
  width: 110%;

  position: relative;
  left: -5%;

  /* Set the hr color */
  color: #FFF;  /* old IE */
  background-color: #FFF;  /* Modern Browsers */
}

.btn {
  transition-duration: 0ms;
}

/*
  320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more: Extra large screens, TV
*/
