* {
  box-sizing: border-box;

  /* Debug */
  /* border: 1px solid red; */
}

body {
  background-color: #151515;
  color: white;

  padding: 0;
  margin: 0;

  /* scroll-snap-stop: always; */
}

h1, h2, h3, h4, h5, h6, p, span, a {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(4.5rem, 8vw, 40rem);
  line-height: clamp(5rem, 7.9vw, 40rem);
  margin: 2rem;

  font-weight: 700;
}

h2 {
  font-size: clamp(4.5rem, 8vw, 40rem);
  line-height: clamp(5rem, 7.9vw, 40rem);

  font-weight: 700;
}

h3 {
  font-size: clamp(2rem, 3vw, 30rem);
  line-height: 1;
  font-weight: 700;
  margin: 0.85rem;
}

h4, h5, h6 {
  font-size: clamp(1.5rem, 2vw, 28rem);
  line-height: 1;
  font-weight: 500;
}

p, span, a {
  font-size: clamp(0.8rem, 1.3vw, 20rem);
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

.btn {
  transition-duration: 0ms;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0b0b0b;
  padding: 10% 3% 20% 3%;
  margin: 0;
  max-height: 100vh;
  min-height: 100vh;
  text-align: center;
}

.mail-link {
  color: rgba(0,0,0,0);
  background: linear-gradient(90deg,#3c1df2,#b5379c);
  background-clip: text;
  -webkit-text-fill-color: rgba(0,0,0,.0001);
  -webkit-background-clip: text;
  opacity: 1;

  font-weight: 600;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
}

.socialLinksText {
  color: rgba(0,0,0,0);
  background: linear-gradient(90deg,#c93e86,#f36226);
  background-clip: text;
  -webkit-text-fill-color: rgba(0,0,0,.0001);
  -webkit-background-clip: text;
  opacity: 1;
  font-weight: 600;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
}


/*
  320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more: Extra large screens, TV
*/
