.navBlobContainer {
    z-index: 100;

    position: fixed;
    top: calc(0.25vh + 1vw);
    left: calc(0.1vh + 1vw);

    width: 6vh;
    height: 6vh;
}

.navBlobIcon {
    position: absolute;
    top: 0.45rem;
    left: 0.95rem;
    height: 100%;
}

.navBlob {
    width: 6vh;
    height: 6vh;
}
